<li class="col-xs-3 list-group-item">
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if sleep}}DEVOUR!{{else}}AVAILABLE!{{/if}}
    </button>
</li>